<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      internalLogLevel="Info" >
  <targets>
    <target name="console" xsi:type="Console"
        layout="${date:universalTime=true}|${level:uppercase=true}|${message} ${exception}" />
  </targets>
  <rules>
    <logger name="Microsoft.*" maxlevel="Info" final="true" /> <!-- BlackHole without writeTo -->
    <logger name="*" minlevel="Trace" writeTo="console" />
  </rules>
</nlog>